body {
    margin: 0;
}

.banner {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    width: 100%;
    color: white;
    height: 940px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-box h1 {
    font-size: 80px;
    margin-top: 0;
    color: white;
    margin-bottom: 0px;
}

.banner-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 60px;
}

.link-button {
    padding: 25px 35px;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

/* banner ended */

.donate-today-section {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.donate-today-text h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

.donate-today-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    opacity: 0.7;
}

.main-tk-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.tk-box {
    background-color: #FAFAFA;
    margin-right: 25px;
    width: 180px;
    height: 160px;
    text-align: center;
    border-radius: 5px;
    color: #707070;
}

.tk-box h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-top: 50px;
}

#color-box {
    border: 3px solid #FF5959;
    background-color: #FFEEEE;
}

.input-box input {
    margin-bottom: 40px;
    padding: 12px 60px;
    width: 800px;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    font-size: 25px;
}

.input-box {
    margin-bottom: 40px;
}

/* donate today section ended */
.our-donate-section {
    text-align: center;
    margin-top: 150px;
}

.our-bonate-box {
    margin-right: 25px;
    width: 400px;
    height: 330px;
    text-align: center;
    border-radius: 5px;
    background-color: orange;
    text-align: left;
    padding: 80px 30px;
}

.our-bonate-box h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #121212;
}

.our-bonate-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    opacity: 0.7;
}

#box1 {
    background-color: #4f9da638;
}

#box2 {
    background-color: #ff595926;
}

#box3 {
    background-color: #FFF4D6;
}

/* Our donate ended */
.get-update-section {
    margin: 50px 0px;
    margin-top: 150px;
}

.input-box2 {
    width: 1100px;
    height: 240px;
    background-color: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23%;
    margin-top: 70px;
}

.input-box2 input {
    padding: 10px;
    width: 400px;
    height: 40px;
    font-size: 20px;
    color: #AA9F9F;
    background-color: #D9D9D9;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

button {
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #FF5959;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* get my updates ended */
footer {

    height: 240px;
    width: 100%;
    background-color: #0B0D17;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

footer h1 {
    color: #FF5959;
    font-family: 'Lobster', cursive;
    font-size: 45px;
}

footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity: 0.7;
}

/* footer */
.contribute-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.contribute-box {
    width: 500px;
    height: 500px;
    margin-right: 30px;
}

.contribute-box img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#contribute-text h1 {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

#contribute-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 60px;
}